html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: 'Gamja Flower',
    cursive;
}

#message-pane {
    background-image: url("/assets/images/i.gif");
    background-repeat: no-repeat;
    background-position: center;
}

#form-card {
    margin: 0px;
}

.material-icons {
    font-size=48px !important;
}

.message-card {
    max-width: 75%;
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
}

.message-time {
    margin-top: 4px;
    float: right;
    color: #ff9999;
    font-size: 20px;
}